*.swp
*.pyc
.rope*
.idea/
*.ipynb
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
.DS_Store

*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

.log

