*.swp
*.pyc
.rope*
.idea/
notebooks/.ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/
*.bak
.eggs/
*.egg-info/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__