libpysal>=4.2.1
esda>=2.2.0
giddy>=2.3.0
inequality>=1.0.0
pointpats>=2.1.0
segregation>=1.1.1
spaghetti>=1.4.0
mgwr>=2.1.1
spglm>=1.0.7
spint>=1.0.6
spreg>=1.0.4
spvcm==0.2.1.post1
tobler>=0.2.0
mapclassify>=2.2.0
splot>=1.1.2
urllib3<1.25
python-dateutil<=2.8.0
