libpysal>=4.6.2
access>=1.1.8
esda>=2.4.1
giddy>=2.3.3
inequality>=1.0.0
pointpats>=2.2.0
segregation>=2.3.1
spaghetti>=1.6.6
mgwr>=2.1.2
momepy>=0.5.3
spglm>=1.0.8
spint>=1.0.7
spreg>=1.2.4
spvcm>=0.3.0
tobler>=0.8.2
mapclassify>=2.4.3
splot>=1.1.5.post1
spopt>=0.4.1