*.pyc
.CHANGELOG.md.swp
.ropeproject/
dist/
examples/notebooks/.ipynb_checkpoints/
examples/python/
mapclassify.egg-info/
mapclassify/.ropeproject/
mapclassify/datasets/calemp/.ropeproject/
mapclassify/tests/.ropeproject/
setup.cfg
.DS_Store